[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.9"

[packages]
click = '>=7.1.2'
boto3 = '==1.16.36'
requests = '>=2.25.0'
pyfzf = "*"

[dev-packages]
setuptools = ">=39.2.0"
setuptools-pipfile = "*"
toml = "*"
