[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.13"

[packages]
click = '>=8.1.7'
boto3 = '>=1.35.76'
requests = ">=2.32.2"
pyfzf = ">=0.3.1"

[dev-packages]
setuptools = ">=39.2.0"
setuptools-pipfile = "*"
toml = "*"
